* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
}

#game {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
}
